QFrame#frame_2, QToolButton#m_pToolButtonClose, QLabel#label {
	background-color:rgb(105,105,105);
}

QToolButton#m_pToolButtonClose {
	max-width: 20px;
	max-height: 20px;
	border: 0px solid gray;
	image: url(../../../Resources/Icons/close-icon.png);
}

QWidget {
	background-color: rgb(191,193,194);
}

/*	Push button*/
QPushButton {
	min-height: 20px;
	border: 1px solid gray;
	border-radius: 3px;
	background-color: lightgray;
	selection-background-color: gray;
}

QPushButton:hover {
	background-color: gray;
	border-radius: 3px;
}

/*Combo box*/
QComboBox {
	min-height: 19px;
	background-color: lightgray;
	selection-background-color: gray;
	padding-left: 4px;
	border: 1px solid gray;
}

QComboBox:editable {
	min-height: 19px;
	background-color: lightgray;
	selection-background-color: gray;
	padding-left: 0px;
	border: 1px solid gray;	
}

QComboBox::down-arrow {
	image: url(../../../Resources/Icons/arrow_down.png);
    width: 10px;
    height: 10px;
}

QComboBox::drop-down {
	border: 0px;
    subcontrol-position: top right;
    width: 15px;
}

QComboBox QAbstractItemView {
	border: 1px solid black;
	background-color: lightgray;
	selection-background-color: gray;
}


 QComboBox:hover, QToolButton:checked	{
	background-color: gray;
}


/*Line edit*/
QLineEdit,QTextEdit {
    border: 1px solid gray;
	border-radius: 3px;
    background-color: lightgray;
    selection-background-color: darkgray;
}

/*Tool button*/
QToolButton {
	max-width: 77px;
	max-height: 20px;
	border: 1px solid gray;
	background-color: lightgray;
}